body.show-zodiac-page {
    background: linear-gradient(to right, #001f3f, #001f5f);
    color: white;
}

h1.show-title {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: #f9a825;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lead {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff;
}

.btn-primary {
    background-color: #f9a825;
    border: none;
    color: #212529;
}

.btn-primary:hover {
    background-color: #ffc107;
}
